.homepage {
    // @include basic-layout;
    // justify-content: space-between;
    // position: relative;

    img {
        height: 1rem;
    }

    button {
        background-color: transparent;
        border: none;
    }

    // .info{    }

    // .actions {
    //     display: flex;
    //     justify-content: space-around;
    //     align-items: center;
    //     flex-basis: 10%;

    //     justify-self: end;
    //     padding: 7px;
    //     height: fit-content;
    //     background-color: $clr5;
    //     transform: translateY(170%);
    //     transition: transform 0.2s;

    // }

    &:hover .actions {
        transform: translateY(0);
    }
}